<div id="placeholder_todoModal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center">
    <div class="bg-white p-8 rounded-md">
        <h3 class="text-xl font-bold mb-4">Add Todo</h3>
        <button id="placeholder_closeModalBtn"
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 focus:outline-none focus:ring focus:border-gray-300">
            Close
        </button>
    </div>
</div>