<div class="bg-slate-50 flex items-center justify-center h-screen">
    <div
        class="bg-white rounded-lg shadow-lg flex items-center text-neutral-900 justify-between h-4/6 w-full max-w-5xl">
        <div class="w-1/2 p-5 text-center">
            <h2 class="text-5xl text-center font-bold mb-6">Sign in</h2>
            <form>
                <div class="mb-6">
                    <input type="email" id="logInEmail" name="email" placeholder="Email"
                        class="w-full px-4 py-3 border border-primary-color rounded-md focus:outline-none focus:ring-slate-500" />
                </div>
                <div class="mb-6">
                    <input type="password" id="logInPassword" name="password" placeholder="Password"
                        class="w-full px-4 py-3 border border-primary-color rounded-md focus:outline-none focus:ring-slate-500" />
                </div>
                <button type="submit"
                    class="w-full max-w-sm px-6 py-3 bg-accent-color text-primary-color rounded-md hover:bg-opacity-80 focus:outline-none focus:ring-slate-50 border"
                    id="submitLogIn">
                    Sign In
                </button>
            </form>
        </div>

        <div class="w-1/2 h-full flex text-center text-zinc-50 ml-6">
            <div
                class="flex-col w-full h-full rounded-l-3xl rounded-r-md px-8 py-44 justify-center items-center bg-gray-700">
                <h2 class="text-5xl font-bold text-accent-color mb-6">Welcome!</h2>
                <p class="text-lg mb-6">
                    Register with your personal details to create a Todo list on the site
                </p>
                <button class="w-2/3 py-3 border rounded-md hover:bg-opacity-80 focus:outline-none focus:ring-slate-50"
                    id="showSignUpForm">
                    <a href="./signup">Sign Up</a>
                </button>
            </div>
        </div>
    </div>
</div>

